<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385388933546-dagq1m34472hf20807otvga7fkkkgd5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385388933546-dagq1m34472hf20807otvga7fkkkgd5o</string>
	<key>API_KEY</key>
	<string>AIzaSyBh5peyiSMzUZ0FJKL0OgUc3ykO6nJPMlE</string>
	<key>GCM_SENDER_ID</key>
	<string>385388933546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.shooooting.examples.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-11189</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-11189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385388933546:ios:0bfe1d38b28492c5953bd3</string>
</dict>
</plist>